/* 
    Created on : Jul 10, 2014, 10:54:15 AM
    Author     : QuangHai
*/

// Variables

// Colors
// -------------------------------

$pink:                           #df3c7f !default;

// Buttons
// -------------------------------

$button-pink-bg:              $pink !default;
$button-pink-text:            #fff !default;
$button-pink-border:          darken($pink, 15%) !default;
$button-pink-active-bg:       darken($pink, 15%) !default;
$button-pink-active-border:   darken($pink, 15%) !default;

// Bars
// -------------------------------

$bar-pink-bg:                 rgba($button-pink-bg, $bar-transparency) !default;
$bar-pink-text:               $button-pink-text !default;
$bar-pink-border:             $button-pink-border !default;
$bar-pink-active-bg:          $button-pink-active-bg !default;
$bar-pink-active-border:      $button-pink-active-border !default;

// Tabs
// -------------------------------

$tabs-pink-bg:                $button-pink-bg !default;
$tabs-pink-border:            $button-pink-border !default;
$tabs-pink-text:              $button-pink-text !default;

// Items
// -------------------------------

$item-pink-bg:                $button-pink-bg !default;
$item-pink-border:            $button-pink-border !default;
$item-pink-text:              $button-pink-text !default;
$item-pink-active-bg:         $button-pink-active-bg !default;
$item-pink-active-border:     $button-pink-active-border !default;

// Toggle
// -------------------------------

$toggle-on-pink-bg:           $pink !default;
$toggle-on-pink-border:       $toggle-on-pink-bg !default;

// Checkbox
// -------------------------------

$checkbox-off-border-pink:    $pink !default;
$checkbox-on-bg-pink:         $pink !default;

// Range
// -------------------------------

$range-pink-track-bg:         $button-pink-bg !default;

// Badges
// -------------------------------

$badge-pink-bg:               $button-pink-bg !default;
$badge-pink-text:             $button-pink-text !default;

@import "ionic/ionic";

// Styles
