<ion-view>
    <ion-header-bar class="bar-positive">
        <h1 class="title">{{modalTitle}}</h1>
        <div class="buttons">
            <button class="button button-icon icon ion-close" ng-click="closeModal()"></button>
        </div>
    </ion-header-bar>
    <ion-content>
        <ion-list>
		
            <div class="item item-divider">Tên Hãng: {{list.nameTaxi}}</div>
            <div class="item item-text-wrap item-button-right"><b>Số điện thoại: </b> {{list.phone}} </div>
            <div class="item item-text-wrap"><b>Mô tả: </b>{{list.description}}</div>
            <div class="item item-text-wrap"><b>Bảng giá: </b>{{list.cost}}</div>
        </ion-list>
    </ion-content>
    <ion-footer-bar style='padding:0;'>
        <div class="button-bar ">
            <button class='button button-positive' ng-click="phonecallTab(list.phone)"><i class="icon ion-ios7-telephone"></i></button>
        </div>
    </ion-footer-bar>
</ion-view>