

//body {font-weight: bold};

.ng-cloak {display:none;}

.button.button-facebook {
    border-color: #1b5a83 !important;
    background-color: #1b5a83 !important;
    color: #fff !important;
}

.background-facebook {
    border-color: #1b5a83;
    background-color: #1b5a83;
    color: #fff;
}

/* ---- Contents ---- */
.content-center {text-align: center; display: block; margin: 0 auto;}

/* ---- Items ---- */
.item-no-border {border: none;}

/* ---- Labels ---- */
label {font-weight: bold; color: #888;}

/* ---- Tabs ---- */
.tab-item-active-pink {background-color: #df3c7f;}
.tabs-border-pink{border-top-width:0;}

/* ---- Headers ---- */
.has-logo {top: 130px !important;}
.has-subheader.has-logo {top:170px !important;}

.top-logo {top: 64px; height: 66px; display:block; text-align: center; border:none; background: transparent; border-bottom: 1px solid #ddd;}
.top-logo img {margin: 0 auto; display: block;}

/* ---- Buttons ---- */
.button-center {display:block; margin: 0 auto;}

.button-pink-gradient {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;

    background-image: -moz-linear-gradient( 90deg, rgb(221,27,104) 0%, rgb(217,29,105) 48%, rgb(227,56,124) 50%, rgb(221,60,127) 100%);
    background-image: -webkit-linear-gradient( 90deg, rgb(221,27,104) 0%, rgb(217,29,105) 48%, rgb(227,56,124) 50%, rgb(221,60,127) 100%);
    background-image: -ms-linear-gradient( 90deg, rgb(221,27,104) 0%, rgb(217,29,105) 48%, rgb(227,56,124) 50%, rgb(221,60,127) 100%);

    height: 60px;
    color: #fff;
    font-weight: bold;
    font-size: 1.3em;
}

.button-gradient-gray {
    border-radius: 10px;
    background-image: -moz-linear-gradient( 90deg, rgb(94,94,94) 0%, rgb(94,94,94) 45%, rgb(113,113,113) 49%, rgb(113,113,113) 100%);
    background-image: -webkit-linear-gradient( 90deg, rgb(94,94,94) 0%, rgb(94,94,94) 45%, rgb(113,113,113) 49%, rgb(113,113,113) 100%);
    background-image: -ms-linear-gradient( 90deg, rgb(94,94,94) 0%, rgb(94,94,94) 45%, rgb(113,113,113) 49%, rgb(113,113,113) 100%);
    box-shadow: 0px 0px 5px 0px rgba(14, 15, 15, 0.137), inset 0px 1px 0px 0px rgba(255, 255, 255, 0.047);
    
    color: #fff;
    font-weight: bold;
    font-size: 1.3em;
}

/* ---- Grids ---- */
.col-42 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 42%;
    -moz-box-flex: 0;
    -moz-flex: 0 0 42%;
    -ms-flex: 0 0 42%;
    flex: 0 0 42%;
    max-width: 42%;
}

/* ---- Online Page ---- */
.list-friend-page .item-thumbnail-left {padding-left: 0;}

.friend-info {padding-left: 105px;}
.friend-info {line-height: 20px; font-size:1em;}
.friend-info > h2 {margin: 0; font-weight: bold; color: #831843;}
.friend-info > p {margin: 0; font-weight: bold; font-size: 0.8em; color: #aaa;}

.friend-bottom-info {margin-top: 5px; font-weight: normal; font-size: 0.9em;}

img.image-middle {vertical-align: middle; width: 18px;}
.hot-icon {font-size:12px; color: #aaa;}

/* ---- Preferences Page ---- */
.ui-select-100 {width: 100% !important;}

/* ---- Partner page ---- */
.item-partner-image { padding: 0; text-align: center;}
.partner-btn {
    font-weight: bold;
}
.partner-btn img {vertical-align: middle;}
.partner-name {font-size: 26px; line-height: 26px; font-weight: bold;}
.partner-photos {padding: 5px;}
.partner-photos img {padding: 4px;}
.hot-partner-btn {
    border:#fe2c01;

    background-image: -moz-linear-gradient( 90deg, #fe2c01 0%, #fea700 100%);
    background-image: -webkit-linear-gradient( 90deg, #fe2c01 0%, #fea700 100%);
    background-image: -ms-linear-gradient( 90deg, #fe2c01 0%, #fea700 100%);
    background-image: -o-linear-gradient( 90deg, #fe2c01 0%, #fea700 100%);
    background-image: linear-gradient( 90deg, #fe2c01 0%, #fea700 100%);
}
.unhot-partner-btn {
    border:#fe2c01;

    background-image: -moz-linear-gradient( 90deg, #444 0%, #ccc 100%);
    background-image: -webkit-linear-gradient( 90deg, #444 0%, #ccc 100%);
    background-image: -ms-linear-gradient( 90deg, #444 0%, #ccc 100%);
    background-image: -o-linear-gradient( 90deg, #444 0%, #ccc 100%);
    background-image: linear-gradient( 90deg, #444 0%, #ccc 100%);
}

.email-partner-btn {
    border: #355db4;

    background-image: -moz-linear-gradient( 90deg, #355db4 0%, #718ecc 100%);
    background-image: -webkit-linear-gradient( 90deg, #355db4 0%, #718ecc 100%);
    background-image: -ms-linear-gradient( 90deg, #355db4 0%, #718ecc 100%);
    background-image: -o-linear-gradient( 90deg, #355db4 0%, #718ecc 100%);
    background-image: linear-gradient( 90deg, #355db4 0%, #718ecc 100%);
}

/* ---- */

.pp{
    margin-bottom: 3.175%;
}


/* ---- checkbox ----*/
.regular-checkbox {
    -webkit-appearance: none;
    background-color: #fafafa;
    border: 1px solid #cacece;
    box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
    padding: 9px;
    border-radius: 50px;
    display: inline-block;
    position: relative;
}

.regular-checkbox:checked:after {
    content: ' ';
    width: 10px;
    height: 10px;
    border-radius: 50px;
    position: absolute;
    top: 4px;
    background: #e21371;
    box-shadow: inset 0px 0px 5px rgba(0,0,0,0.3);
    text-shadow: 0px;
    left: 4px;
    font-size: 32px;
}

.regular-checkbox:checked {
    background-color: #e9e9e9;
    color: #e21371;
    border: 1px solid #adb8c0;
    box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05), inset 15px 10px -12px rgba(255,255,255,0.1), inset 0px 0px 10px rgba(0,0,0,0.1);
}

.regular-checkbox:active, .regular-checkbox:checked:active {
    box-shadow: 0 1px 1px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
}


/* ----- option -----*/
.style-select select {

    width: 100%;
    background: transparent;
    padding: 5px 10px;
    font-family: HelveticaNeueLTPro;
    font-size: 12pt;
    color: #6e6e6e;
    line-height: 30px;
    -webkit-appearance: none;
    border: 1px solid #888;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px 10px 10px 10px;	
}

.style-select {
    overflow: hidden;
    background: url(../img/editprofile/arrow.png) no-repeat right 10px center;
    border: 1px solid #ccc;
}



/* ----- creatprofileasking2 ----*/
.ull{
	height: 248px;
	overflow-y: auto;
    border: 1px solid #ccc;
    border-radius: 10px;
}

.ull li{
    display: block;
    border-bottom: 1px solid #ccc;
    list-style: none;
}

.ull li:last-child{
    display: block;
    list-style: none;
    border-radius: 0px 0px 10px 10px;
}

.ull li:first-child{
    display: block;
    border-bottom: 1px solid #ccc;
    list-style: none;
    border-radius: 10px 10px 0px 0px;
}

.ull span {
    display: block;
    padding: 10px;
    text-decoration: none;
}

.ull span:hover {
    display: block;
    color: #ffffff;
    background-color: #df3c7f;
}

.ull li:first-child span {
    display: block;
    padding: 10px;
    text-decoration: none;
}

.ull li:first-child span:hover {
    border-radius: 10px 10px 0px 0px;
    display: block;
    color: #ffffff;
    background-color: #df3c7f;
}

.ull li:last-child span {
    display: block;
    padding: 10px;
    text-decoration: none;
}

.ull li:last-child span:hover {
    border-radius: 0px 0px 10px 10px;
    display: block;
    color: #ffffff;
    background-color: #df3c7f;
}


.selected{
    display: block;
    color: #ffffff;
    background-color: #df3c7f;
}

.ull li:first-child.selected{
    border-radius: 10px 10px 0px 0px;
    display: block;
    color: #ffffff;
    background-color: #df3c7f;
}

.ull li:last-child.selected{
    border-radius: 0px 0px 10px 10px;
    display: block;
    color: #ffffff;
    background-color: #df3c7f;
}


.ull #c2{
    display: block;
    list-style: none;
    border-radius: 0px 0px 10px 10px;
}

.ull #c1{
    display: block;
    border-bottom: 1px solid #ccc;
    list-style: none;
    border-radius: 10px 10px 0px 0px;
}

.ull span {
    display: block;
    padding: 10px;
    text-decoration: none;
}

.ull span:hover {
    display: block;
    color: #ffffff;
    background-color: #df3c7f;
}

.ull #s1 {
    display: block;
    padding: 10px;
    text-decoration: none;
}

.ull #s1:hover {
    border-radius: 10px 10px 0px 0px;
    display: block;
    color: #ffffff;
    background-color: #df3c7f;
}

.ull #s2 {
    display: block;
    padding: 10px;
    text-decoration: none;
}

.ull #s2:hover {
    border-radius: 0px 0px 10px 10px;
    display: block;
    color: #ffffff;
    background-color: #df3c7f;
}




.selected1{
    border-radius: 10px 10px 0px 0px;
    display: block;
    color: #ffffff;
    background-color: #df3c7f;
}

.selected2{
    border-radius: 0px 0px 10px 10px;
    display: block;
    color: #ffffff;
    background-color: #df3c7f;
}







/* ------- input -------------*/
.inp{
    padding: 5px 10px;
    line-height: 15px;
    border-radius: 15px;
    border: 1px solid #ccc;
    text-align:left;
}

/*------- textarea ------------*/
.tex{
    height: 100px;
    padding: 10px 10px;
    border-radius: 10px;
    border: 1px solid #ccc;
}


/* -------- tab -----*/


.tab-item:hover {
    background: #df3c7f;
    cursor: pointer; }


/* ------ button --------*/	
.btt{
    border-radius: 15px;
    border: 2px solid #ccc;
}	

.btt1{
    background: #4c4045;
    border-radius: 15px;
    border: 2px solid #ccc;
    color: #FFFFFF;
}	

/* ---------hightlight-----------*/
.pk{
    border: 1px solid #ccc;
    background: #df3c7f;
    color: #ffffff;
    padding-left:10px;
}

.pb{
    border: 1px solid #ccc;
    background: #6d8aca;
    color: #ffffff;
    padding-left:10px;
}


/* -----------upload photos------------*/
.pts{
    overflow: hidden;
    background: url(../img/managephotos/leftarrow.png) no-repeat left 5px center,
        url(../img/managephotos/rightarrow.png) no-repeat right 5px center;
}

/* ----- option -----------*/
.bttLike{
    width: 100%;
    background: transparent;
    padding: 5px 10px;
    font-family: HelveticaNeueLTPro;
    font-size: 12pt;
    color: #6e6e6e;
    line-height: 30px;
    -webkit-appearance: none;
    border: 1px solid #888;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px 10px 10px 10px;
    overflow: hidden;
    background: url(../img/editprofile/arrow.png) no-repeat right 10px center;
    border: 1px solid #888;
    text-align: left;
}

.optionsl{
    display: none;
}


/* -----span lower------*/
.splow{
    font-size: 9pt;
    font-style: oblique;
}