<ion-view title="{{title}}" hide-back-button="false">
    <ion-header-bar class="bar bar-subheader has-logo item-input-inset">
        <label class="item-input-wrapper">
            <i class="icon ion-search placeholder-icon"></i>
            <input ng-model="search" ng-change="scrollTop()" type="search" placeholder="Search" ng-change="scrollTop()">
        </label>
        <button ng-if="search.length" class="button button-clear" ng-click="cancelSearch()">Cancel</button>
    </ion-header-bar>

    <ion-content padding="true" class="has-subheader has-logo has-footer">	
		<ion-refresher
            pulling-text="Pull to refresh..."
            on-refresh="doRefresh()">
        </ion-refresher>	
		<ion-list>
            <ion-item class="item item-button-right" ng-repeat="item in getItems()" ng-click="goDetails(item.objectId)">
                {{item.nameTaxi}}
            </ion-item>

        </ion-list>	
		<!-- <ion-infinite-scroll on-infinite="loadMore()" icon="ion-loading-c" distance="1%">
        </ion-infinite-scroll> -->
      </ion-content>
		
</ion-view>