<ion-view title="{{title}}" hide-back-button="false">
    <ion-content padding="true" class="has-logo has-footer">	
		<ion-refresher
            pulling-text="Pull to refresh..."
            on-refresh="doRefresh()">
        </ion-refresher>	
		<ion-list>
            <div class="item item-divider">Tên hãng: {{list.nameTaxi}}</div>
            <div class="item item-text-wrap item-button-right"><b>Số điện thoại: </b> {{list.phone}} </div>
            <div class="item item-text-wrap"><b>Mô tả: </b>{{list.description}}</div>
            <div class="item item-text-wrap"><b>Bảng giá: </b>{{list.cost}}</div>
        </ion-list>
		
		<ion-item class='item-no-border content-center' style='margin: 20px;'>
                <button class="button button-block button-positive button-center" ng-click="phonecallTab(list.phone)">
                    <i class="icon ion-ios7-telephone"></i>
                </button>
        </ion-item>
		
    </ion-content>
    
</ion-view>