<ion-side-menus>
    <!-- Header bar -->
    <ion-pane ion-side-menu-content>
        <ion-nav-bar class="bar-positive">

            <ion-nav-back-button class="button-clear"><i class="icon ion-ios7-arrow-left"></i></ion-nav-back-button>
            
            <!-- Left side menu button
            <ion-nav-buttons side="left">
                <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>   
            </ion-nav-buttons>

            Right side menu button
            <ion-nav-buttons side="right">
                <button menu-toggle="right" class="button button-icon icon ion-gear-a"></button> 
            </ion-nav-buttons> -->
        </ion-nav-bar>

        <section ui-view="headLogo"></section>

        <ion-nav-view name="menuContent" animation="slide-left-right"></ion-nav-view>

    </ion-pane>


   <!--  Left menu content
    <ion-side-menu side="left">
        <header class="bar bar-header bar-dark">
            <h1 class="title"></h1>
        </header>
        <ion-content class="has-header dark-bg">
            <ion-list>
                <ion-item ng-repeat="item in items" class="item-dark" nav-clear menu-close ng-href="{{item.href}}">
                    {{item.title}}
                    <span class="badge badge-pink" ng-if="item.count">{{item.count}}</span>
                </ion-item>
            </ion-list>
        </ion-content>
    </ion-side-menu>

    Right menu content
    <ion-side-menu side="right">
        <header class="bar bar-header bar-dark">
            <h1 class="title"></h1>
        </header>
        <ion-content class="has-header dark-bg">
            <ion-list>
                <ion-item ng-repeat="setting in settings" class="item-icon-right item-dark" nav-clear menu-close ng-href="{{setting.href}}">
                    {{setting.title}}
                    <span class="badge badge-pink" style="right:45px;" ng-if="setting.number">{{setting.number}}</span>
                    <i class="icon">
                        <img ng-src="./img/icon/{{setting.icon}}_ic.png" />
                    </i>
                </ion-item>
            </ion-list>
        </ion-content>
    </ion-side-menu> -->

</ion-side-menus>
